html,
body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.navbar {
  background-color: rgba(248, 249, 250, 0.8);
}

#image {
  border-radius: 50%;
  overflow: hidden;
  width: 300px;
  filter: grayscale(0.5);
}

.welcome {
  width: 500px;
}

@media (max-width: 991px) {
  #image {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }

  .welcome {
    width: 60%;
  }
}

@media (max-width: 767px) {
  .welcome {
    width: 100%;
  }

  #img-size {
    display: none;
  }
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.section {
  padding: 120px 0;
}

.full {
  min-height: 100vh;
  background-color: rgb(72, 72, 72);
  color: rgb(218, 215, 215);
  background: url(https://images.unsplash.com/photo-1511884642898-4c92249e20b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80);
  background-size: cover;
  margin-top: -56px;
}

.welcome-container {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
  padding: 30px;
  border-radius: 21px;
}

@media (max-width: 991px) {
  .welcome-container {
    margin: 20px;
    padding: 15px;
  }
}

/* who am i */
.full-2 {
  display: flex;
  align-items: center;
  min-height: 80vh;
  color: rgb(34, 32, 32);
  box-shadow: inset 0 10px 15px rgba(0 0 0 / 40%);
}

#image-2 {
  border-radius: 20px;
  width: 100%;
}
/* who am i */

/* skills */
.full-3 {
  display: flex;
  align-items: center;
  min-height: 80vh;
  color: rgb(239, 239, 239);
  background-color: rgb(49, 49, 49);
}

#image-3 {
  width: 100%;
  border-radius: 20px;
}

/* contact me */
.full-4 {
  min-height: 40vh;
  color: rgb(9, 9, 9);
  background-size: cover;
}

a {
  text-decoration: none;
}
